body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th, td {
  border: 1px solid #0d3b66;
  padding: 5px 10px 5px 5px;
  margin: 5px;
}

th {
  color: white;
  background-color: #0d3b66;
  text-align: left;
}

.past {
  color: #f95738;
}

input[type=text], input[type=datetime-local], select {
  border: 2px solid black;
  border-radius: 4px;
  margin: 8px 0;
}

button, #add-ticket-link {
  background-color: #f4d35e;
  color: black;
  border: none;
  padding: 10px 32px;
  margin: 8px 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.button-delete {
  background-color: white;
  color: #ab3428;
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}


#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.currency {
  text-align: right;
}