* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #faf0ca;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #ee964b;
}

nav > a.active {
  color: #f4d35e;
  cursor: default;
}

th, td {
  border: 1px solid #0d3b66;
  padding: 5px 10px 5px 5px;
  margin: 5px;
}

th {
  color: white;
  background-color: #0d3b66;
  text-align: left;
}

.past {
  color: #f95738;
}

input[type=text], input[type=datetime-local], select {
  border: 2px solid black;
  border-radius: 4px;
  margin: 8px 0;
}

button, #add-ticket-link {
  background-color: #f4d35e;
  color: black;
  border: none;
  padding: 10px 32px;
  margin: 8px 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.button-delete {
  background-color: white;
  color: #ab3428;
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}


#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.currency {
  text-align: right;
}