body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th, td {
  border: 1px solid black;
  padding: 5px 10px 5px 5px;
  margin: 5px;
}

th {
  color: white;
  background-color: black;
  text-align: left;
}

.past {
  color: red;
}

input[type=text], input[type=datetime-local], select {
  border: 2px solid black;
  border-radius: 4px;
  margin: 8px 0;
}

button {
  background-color: darkslategrey;
  color: white;
  border: none;
  padding: 10px 32px;
  margin: 8px 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}